@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GENERAL */
body {
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* ABOUT */
.about {
    background-image: radial-gradient(circle, #d0d0d0, #929496, #828282);
    padding: 20px 50px;
    margin-top: 20px;
}

.about-content h2{
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.about-content p {
    font-size: 20px;
    text-align: justify;
    line-height: 2em;
}

.resume {
    display: flex;
    justify-content: center;
}

.resume a {
    padding: 10px 20px;
    border: 2px solid #000;
    background: #000;
    border-radius: 10px;
    cursor: grabbing;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-family: 'Oswald';
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 20px #000;
}

.resume a:hover {
    background: #fff;
    color: #000;
}

.social-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.social-link img {
    width: 32px;
    filter: drop-shadow(4px 2px 4px #000);
    transition: all 0.3s ease-in-out;
}

.social-link img:hover {
    transform: scale(1.5);
}

/* EXPERIENCE */
.experience {
    margin-top: 20px;
    padding: 20px 50px;
}

.experience h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.experience-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-card {
    padding: 20px;
    border: 1px solid #8a8a8a;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #d0d0d0;
}

.experience-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.experience-card p {
    font-size: 16px;
    color: #666;
}

/* SERVICES */
.services {
    margin-top: 20px;
    padding: 20px 50px;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-card {
    width: 300px;
    padding: 10px 20px;
    border: inset #8a8a8a 2px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 8px 6px 10px #000;
    transition: all 3.5s ease-in-out;
    background-size: 600% 100%;
    background-position: left;
}

.service-card:hover {
    animation: backgroundShift 3.5s forwards;
    background-image: linear-gradient(to right, #fff, #929496, #828282);
}

@keyframes backgroundShift {
    from {
        background-position: left bottom;
    }
    to {
        background-position: right bottom;
    }
}

.service-card h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 16px;
    text-align: center;
}

/* TECH STACK */
.tech-stack {
    margin-top: 20px;
    padding: 20px 50px;
}

.tech-stack h2 {
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}

.tech-stack-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
    justify-content: space-around;
    gap: 10px;
}

@media (min-width: 1200px) {
    .tech-stack-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

.tech-stack-card {
    padding: 10px 20px;
    border: outset #8a8a8a 2px;
    border-radius: 10px;
    margin: 10px;
}

.tech-stack-card-image {
    display: flex;
    justify-content: center;
}

.tech-stack-card h3 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
}

.tech-stack-card img {
    width: 50px;
    border-radius: 5px;
}

/* PROJECTS */
.projects {
    margin-top: 20px;
    padding: 20px 50px;
    background-color: #8a8a8a;
    box-shadow: 5px 10px 10px #828282;
}

.projects h2 {
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}

.project-card {
    padding: 20px;
    border: ridge 2px #8a8a8a;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 8px 6px 10px #000;
    transition: transform 0.5s ease;
    margin: 20px;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.project-card:hover .project-image {
    filter: grayscale(0%);
}

.project-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 16px;
    color: #666;
}

.project-technologies {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.project-technologies img {
    width: 32px;
    border-radius: 5px;
}

.project-link {
    display: flex;
    justify-content: center;
}

.project-link a {
    padding: 10px 20px;
    border: 2px solid #000;
    background: #000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    color: #fff;
    text-decoration: none;
    box-shadow: 8px 4px 10px #000;
}

.project-link a:hover {
    background: #fff;
    color: #000;
}

.contact {
    margin-top: 20px;
    padding: 20px;
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}

.contact p {
    color: #000;
    font-size: 24px;
    text-align: center;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contact-links a {
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    animation: scaleUp 0.5s infinite alternate;
    color: #000;
    text-decoration: none;
    margin: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.contact-links a:hover {
    animation-play-state: paused;
    box-shadow: 0 0 10px 5px rgba(77, 72, 72, 0.5), 0 0 20px 10px rgba(50, 53, 50, 0.5), 0 0 30px 15px rgba(17, 17, 18, 0);
}

/* FOOTER */
.footer {
    background-color: #8a8a8a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}