@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GENERAL */
body {
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* ABOUT */
.about {
    background-color: #ececec;
    padding: 20px 20px;
}

.about-content h2{
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.about-content p {
    font-size: 20px;
    text-align: justify;
    line-height: 2em;
}